body{
    background: rgb(240, 240, 240);
    color: rgb(21, 91, 21);
    font-family:'Raleway',sans-serif ;

    
}

.titulo_principal{
    width: 15%;


}

h1{
    text-align: center;
    width:25%;
}

.colaboradores{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

